
.row.selected {
  background: #fffdb2;
}

.meeting-admin .react-autosuggest__suggestions-container {
  height:80px;
  width:300px;
  overflow:hidden;
}

.meeting-admin .react-autosuggest__suggestions-list {
  list-style:none;
  padding:0px;
}

.member-search {
  width:300px;
}

.attendee-remove {
  color:#900;
  display:inline-block;
  padding:2px;
}

.attendee-remove:hover {
  text-decoration:none;
}

.suggestion-highlighted {
  background-color:#fffbd5;
}