@import 'admin';
@import 'colors';
@import 'elections';
@import 'membership';
@import 'paperballot';
@import 'navigation';
@import 'vote';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-container {
  height: 72px;
}

.content-container {
  display: flex;
  flex: 1;
}

.content {
  width: 100%;
}

.footer-padding {
  padding: 50px;
}

.glyphButton {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.rose {
  &::before {
    content: '🌹 ';
  }
  &.after,
  &.wrap {
    &::after {
      content: ' 🌹';
    }
  }
  &.after {
    &::before {
      content: none;
    }
  }
}
